{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% include 'base.html' %}
{% block content %}
<h2 class="page-title">Main Page</h2>
<ul class="post-list">
    {% for post in posts %}
        <li class="post-item">
            <a class="post-link" href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
            <small>by {{ post.author }} on {{ post.created_at }}</small>
        </li>
    {% empty %}
        <p class="no-posts">No posts available.</p>
    {% endfor %}
</ul>
<a class="btn-primary" href="{% url 'create_post' %}">Create a new post</a>
{% endblock %}
